.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


.Toastify__toast {
  border-radius: 0.5rem;
}
